<div>
    <table class="table table-success table-hover">
      <thead>
        <tr>
          <th scope="col"  class=" p-1 text-warning bg-primary-subtle m-1 rounded-4 fs-4">First Name</th>
          <th scope="col"  class=" p-1 text-warning bg-primary-subtle m-1 rounded-4 fs-4">Last Name</th>
          <th scope="col"  class=" p-1 text-warning bg-primary-subtle m-1 rounded-4 fs-4">Phone</th>
          <th scope="col"  class=" p-1 text-warning bg-primary-subtle m-1 rounded-4 fs-4">Email</th>
          <th scope="col" class=" p-1 text-warning bg-primary-subtle m-1 rounded-4 fs-4" >Address</th>
        </tr>
      </thead>
      <tbody>
        <tr  >
          <td class="m-2 p-2 text-info bg-primary-subtle m-2 rounded-4">{{customers?.fname}}</td>
          <td class="m-2 p-2 text-info bg-primary-subtle m-2 rounded-4">{{customers?.lname}}</td>
          <td class="m-2 p-2 text-info bg-primary-subtle m-2 rounded-4">{{customers?.phone}}</td>
          <td class="m-2 p-2 text-info bg-primary-subtle m-2 rounded-4">{{customers?.email}}</td>
          <td class="m-2 p-2 text-info bg-primary-subtle m-2 rounded-4">{{customers?.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
